body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  background-color: #212121;
  color: #9e9e9e;
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}
